*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
}

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game{
    width: 25vw;
    height: 100vh;
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.christmas{
    background-image: url(https://r1.ilikewallpaper.net/iphone-12-pro-max-wallpapers/download-148894/green-leaf-tree.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.math{
    background-image: url(https://i.pinimg.com/736x/12/52/26/12522620ca902df49e01d15473629b97.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.palindrome{
    background-image: url(https://www.teahub.io/photos/full/291-2917091_triangle-hipster-and-sea-image-bermuda-triangle-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.password{
    background-image: url(https://c0.wallpaperflare.com/preview/287/473/127/access-close-up-code-coded.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}